body {
    display: flex;
    flex-direction: column;
}

#mainArea {
    /*display: flex;
    flex: 1;*/
}

#nodeListing {
    /*width: 250px;*/
    background: #bcb8b4;
    padding: 10px 15px 10px 10px;
    padding-left: 15px;
    text-transform: uppercase;
}

#graphArea {
    min-height: 400px;
    /*flex: 1;  Grow to rest of container */
    background: #ccc;
}

#detailsAreaTabs {
    height: 50px;
    background: #FFF;
}

#detailsAreaContent {
    height: 250px;
    background: #FFF;
}

#detailsArea {

}

.item { /* TODO Deleme */
    height: 100px;
    width: 100px;
    background-color: #BBA8C0;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
}

/******************************************************************
/*********************** NODE LISTING STUFF  **********************
/*******************************************************************/
.nodePrototype {
    z-index: 100;
}

#nodeListing ul.nodeCategories {
    list-style-type: none;
    padding-left: 0;
}

#nodeListing ul.nodeCategories h3 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
}

#nodeListing ul.nodeList {
    list-style-type: none;
    padding-left: 0;
}

#nodeListing ul.nodeList li {
    font-size: 14px;
    font-weight: bold;
}

#nodeListing ul.nodeList li img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


/***************************************************************************************************
/****************** Quick Bar stuff ****************************************************************
/**************************************************************************************************/
#quickBar .warningIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}

#quickBar .errorIcon {
    width: 85px;
    height: 85px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#quickBar .playIcon {
    width: 85px;
    height: 85px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#quickBar .loadingIcon {
    width: 30px;
    height: 30px;
    z-index: 100;
    left: 20px;
    top: 25px;
    position: absolute;
}

div#quickBar {
    position: absolute;
    z-index: 1000;
    right: 10px;
    height: 90px;
    top: 10px;
    background-color: #EEE;
    border: 2px solid #9f9f9f;
    border-radius: 40px;
    width: 150px;
}

/***************************************************************************************************
/****************** Graph stuff ********************************************************************
/**************************************************************************************************/
#graphArea .node {
    height: 100px;
    width: 100px;
    background-color: #ADB6A9;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    text-align: center;
}

#graphArea .nodePrototype img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

#graphArea .node img {
    width: 50px;
    height: 50px;
}

#graphArea .node.selected {
    background-color: #98A294;
    border: 5px solid black;
    border-style: inset;
}

#graphArea .selectedConnection path { /* lines + arrow styling */
    stroke: #000;
    fill: #000;
}

#graphArea .selectedConnection svg circle { /* endpoint styling */
    stroke: #000;
    fill: #000;
}

#graphArea .node .statusIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: -15px;
}

/***************************************************************************************************
/****************** Node editor stuff **************************************************************
/**************************************************************************************************/
.fileField-group label {
    float: left;
    margin-right: 10px;
}

#editorPane .warningBanner {
    padding: 10px;
    font-weight: 500;
}

/*************** Multi column picker ********************/
#editorPane .dragging, #editorPane .dragging * {
  cursor: move !important;
}

#editorPane .dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#editorPane li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
}

#editorPane ol {
    -webkit-padding-start: 5px;
    border: 1px solid #999999;
    padding: 0;
}
#editorPane ol li.placeholder {
  position: relative;
}
#editorPane ol li.placeholder:before {
  position: absolute;
}

.columnsSelectorField ol {
    min-height: 50px;
}

.columnsSelectorField img {
    width: 10px;
    float: right;
    margin-top: 5px;
    cursor: pointer;
}