<div class="">
    <div class="columnsSelectorField row" id="<%= id %>">
        <div class='columns col-md-4'>
            <div class="addingArea">
                <select class="selectpicker" data-live-search="true">
                    <option value="myopt">Test</option>
                </select>
                <input type="button" class="btn btn-default addColumn" value="Add to list" />
            </div>
            <div class="selectedArea">
                <label>Selected Columns</label>
                <ol class='columns'>
                  <!-- <li>First</li>
                  <li>Second</li>
                  <li>Third</li> -->
                </ol>
            </div>
        </div>
    </div>
</div>
