<div class="form-group columnsSeletorField-group <%= id %>">
    <div class="columnsSelectorField row">
        <div class='columns col-md-4'>
            <label class="control-label" for="<%= id %>">Selected Columns</label>
            <div class="addingArea">
                <select class="selectpicker" data-live-search="true">
                    <option value="myopt">Test</option>
                </select>
                <input type="button" class="btn btn-default addColumn" value="Add to list" />
            </div>
            <div class="selectedArea">
                <ol class="columns form-control" id="<%= id %>"></ol>
                <div class="clearfix help-block"></div>
            </div>
        </div>
    </div>
</div>